
/* font-family: "Work Sans", serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}
html{
    font-size: 62.5%;
}

/* variable */
:root{
    --main-color:#FF900E;
    --secondary-color: rgba(255, 144, 14, 0.1);
    --dark-01:#131313;
    --dark-02:#424242;
    --dark-03:#727272;
    --dark-04:#A1A1A1;
    --dark-05:#A1A1A1;
    --FFF: #FFF;
}

/* common style start */
.section{
    max-width: 1440px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.para{
    font-size: 1.6rem;
    color: var(--dark-03);
    line-height: 2.6rem;
}
.title{
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--dark-01);
}
.btn{
    color: var(--FFF);
    background-color: var(--main-color);
    /* border-color: var(--main-color); */
    border: 1px solid var(--main-color);
    border-radius: 0.8rem;
    cursor: pointer;
}
/* common style end */

/* header style start */
header{
    background-color: var(--secondary-color);
}
/* nav bar style */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}
.nav-section .brand-name{
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--dark-01);
}
.nav-section .nav-link{
    display: flex;
    justify-content: flex-end;
    gap: 2.8rem;
}
.nav-section .nav-link a{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dark-02);
    transition: color 0.2s linear;
}
.nav-section .nav-link a:hover{
    color: var(--main-color);
}
/* navbar style end */

/* banner style start */
.banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 10rem;
}
.banner-content{
    max-width: 862px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3.2rem;
}
.banner-title{
    font-size: 6.4rem;
} 
.banner-btn{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 2.5rem;
    transition: color 1s linear;
    transition: background-color 0.2s linear;
}
.banner-btn:hover{
    color: var(--main-color);
    background-color: transparent;
}
.banner-img img{
    max-width: 100%;
    width: auto;
    margin-bottom: 4.5rem;
}
/* banner style end */
/* header style end */

/* quick section style start */
.quick-list--section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 7rem;
    margin-top: 8.5rem;
    margin-bottom: 13rem;
    padding: 0rem 6rem;
    /* position: relative; */
}
.quick-img-conainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: #FF900E; */
    gap: 2.4rem;
}
.quick-img-conainer .quick-img{
    /* background-color: #FF900E; */
    border-radius: 0.8rem;
    /* width: 200px;
    height: 200px;
    position: relative; */
}
.quick-img-conainer .quick-img img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.quick-title .gray{
    color: var(--dark-03);
}
.quick-title .color{
    color: var(--main-color);
}
.quick-description p{
    margin: 2.4rem 0rem 3rem;
}
.quick-btn{
    padding: 2rem 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    transition: color 0.3s linear;
    transition: background-color 0.2s linear;
}
.quick-btn:hover{
    background-color: transparent;
    color: var(--main-color);
}
/* quick section style end */





/* responsive */
@media screen and (max-width:1440px) {
    .section{
        padding: 2% 2% 0% 2%;
    }
}
/* laptop */
@media screen and (max-width:1024px) {
    .quick-img-conainer .quick-img{
        /* background-color: #FF900E; */
        width: 25rem;
        height: 25rem;
        position: relative;
    }
    .quick-img-conainer .quick-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* .quick-list--section{
        display: flex;
        align-items: center;
        justify-content: end;
    } */
     .title{
        font-size: 3.5rem;
     }
}
/* Tablet */
@media screen and (max-width:768px) {
    .nav-section .brand-name{
        font-size: 2.5rem;
    }
    .nav-section .nav-link a{
        font-size: 1.4rem;
    }
    .nav-section .nav-link{
        gap: 1.8rem;
    }
    /* banner */
    .banner-section{
        margin-top: 4rem;
    }
    .banner-title{
        font-size: 4.5rem;
    }
    .banner-btn{
        font-size: 1.8rem;
        padding: 1.5rem 2rem;
    }
    /* quite */
    .quick-img-conainer .quick-img{
        /* background-color: #FF900E; */
        width: 20rem;
        height: 20rem;
        position: relative;
    }
    .quick-img-conainer .quick-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .quick-btn{
        font-size: 1.8rem;
        padding: 1.5rem 2rem;
    }
}
/* mobile */
@media screen and (max-width:425px) {
    .nav-section{
        flex-direction: column;
        gap: 1.5rem;
    }
    .nav-section .brand-name{
        font-size: 3rem;
    }
    .nav-section .nav-link{
        /* gap: 1.8rem; */
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        /* background-color: #FF900E; */
    }
    /* banner */
    .banner-section{
        margin-top: 2rem;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .banner-btn{
        font-size: 1.8rem;
        padding: 1.5rem 2rem;
    }
    /* quick */
    .quick-list--section{
        flex-direction: column;
    }
    .quick-img-conainer{
        display: flex;
        flex-direction: column;
    }
    .quick-img-conainer .quick-img{
        /* background-color: #FF900E; */
        width: 100%;
        height: 100%;
        position: relative;
    }
}